body {
	margin: 0;
}

.hero {
	background: #84DCCF;
	text-align: center;
	box-shadow: 0 0 7px #555;
	margin-bottom: 2.0rem;
}

.title {
	padding-top: 1rem;
	font-size: 5rem;
}
.title a {
	color: black;
	text-decoration: none;
}
.title .name {
	vertical-align: middle;
}
.title img {
	padding-right: 0.5rem;
	vertical-align: middle;
	width: 5rem;
}

.tagline {
	padding-bottom: 2.5rem;
	font-size: 1.75rem;
}

.content {
	margin: auto;
	max-width: 800px;
}

.error {
	color: #cc0000;
}

code {
	white-space: normal;
}

.smallcode {
	padding: 0;
}
